@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: rgba(15, 27, 79, 1);
}

ul {
    list-style: none;
}

.header {
    background: rgba(0, 0, 0, 0.445);
    height: 100px;
    display: flex;
    justify-content: center;

}

.header__container {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.nav__header {}

.menu__header {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.link__header {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
}

.link__header:hover {
    border-bottom: 1px solid white;
}

/* выпадающее меню */

.nav__bg {
    display: none;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.568);
    padding: 10px;
    list-style: none;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 11px 8px rgb(21 19 137 / 77%);
}

.submenu li {
    margin-bottom: 5px;
}

.submenu a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.submenu a:hover {
    border-bottom: none;
    color: rgb(0, 0, 0);
}


.intro {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.intro__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1565px;
    height: 852px;
    background: rgba(0, 0, 0, 0.46);
    border-radius: 9px;
    text-align: center;
    align-items: center;
}

.title__intro {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}


.btn__intro {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 0;
}

.btn__read {
    width: 200px;
    height: 42px;
    background: #4359E2;
    border-radius: 15px;
    border: none;
}

.link__read {
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;


}

.into__text {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;

}


.maps {
    border-radius: 44px;
    overflow: hidden;
}


.block__1 {
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.block__text {
    background: rgba(0, 0, 0, 0.46);
    width: 593px;
    border-radius: 9px;

}

.blk__text__1 {
    font-weight: 700;
    font-size: 27px;
    text-align: center;
    color: #FFFFFF;

}

.blk__text__2 {
    padding: 25px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.s3__title {
font-weight: 700;
font-size: 32px;
text-align: center;
color: #FFFFFF;
}

.s3__text {
font-weight: 700;
font-size: 24px;
text-align: center;
color: #FFFFFF;
}

.s3__block__1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.block__2 {
width: 810px;
background: rgba(0, 0, 0, 0.46);
border-radius: 9px;

}

.text__posled {
    width: 690px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}






.footer {
    background: rgba(0, 0, 0, 0.445);
    height: 100%;
}

.footer__container {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    padding: 15px;
}




@media screen and (max-width: 984px) {
    .maps {
        width: 440px;
        height: 400px;
    }

    .block__2 {
        width: 550px;
    }

    .title__intro {
        font-size: 48px;
    }
}

@media screen and (max-width: 748px) {
    .maps {
        width: 440px;
        height: 400px;
    }

    .block__2 {
        width: 400px;
    }

    .title__intro {
        font-size: 35px;
    }
}

@media screen and (max-width: 628px) {
    .btn__intro {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 20px 0;
    }

    .text__posled {
     width: 400px;
    }
}

@media screen and (max-width: 500px) {

    .maps {
        width: 390px;
        height: 400px;
    }
    .s3__title {
        text-align: center;
        width: 300px;
    }

    .s3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}


@media screen and (max-width: 450px) {

    .maps {
        width: 320px;
        height: 400px;
    }
    .s3__title {
        text-align: center;
        width: 300px;
    }

    .s3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text__posled {
        width: 300px;
       }
       .block__2 {
        width: 300px;
    }
}





@media screen and (max-width: 815px) {
    .menu__header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    .header__container {
        display: flex;
        justify-content: center;
        gap: 150px;
        align-items: center;
        margin: 0 50px;
    }

    .footer {
        background: rgba(0, 0, 0, 0.445);
        height: 100%;
    }

}


@media screen and (max-width: 553px) {
    .nav__header {
        display: none;
    }

    .nav__bg {
        display: flex;
    }

    .header__container {
        gap: 50px;
        align-items: center;
        margin: 0 50px;
    }

  

}

